{% extends "layout.html" %}
{% load static %}

{% block page_title %}Opportunities{% endblock page_title %}

{% block css_files %}
<style>
	body {
		overflow: hidden;
		margin-top:9%;
	}
</style>
{% endblock css_files %}

{% block content %}
    <div class="home offset-md-1" style="margin-top:7%; margin-left:12%; overflow: hidden;">
      <div class="row">
        <!-- Left sidebar -->
        <div class="col-md-9">
          <h3 class="title text" style="float:left; margin-bottom:30px;"><i class="fa fa-envelope-o"></i> Internship Opportunities</h3>
          {% for group in request.user.groups.all %}
            {% if group.name == 'Staff' %}
              	<button type="button" class="btn btn-success btn-block" data-bs-toggle="modal" data-bs-target="#internshipModal" style="border: 2px solid #696CFF; background-color: var(--primary-color-light); font-size: 20px; float:right;"><i class="fa fa-pencil-square-o" style="color:#696CFF"></i><span style="color:#696CFF;"> Add Internship</span></button>
            {% endif %}
          {% endfor %}
          <table class="table" style="width:100%; background-color: var(--primary-color-light); border:1px solid var(--text-color); box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;">
            {% if internships.count > 0 %}
				<thead class="text" style="font-size: 1.5rem;">
					<tr>
						<th>Company</th>
						<th>Job</th>
						<th>Province</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th style="text-align:center;">Detail</th>
					</tr>
				</thead>
				<tbody style="font-size: 1.4rem;">
					{% for internship in internships %}
						<tr class="text">
							<td>
								<a title="{{internship.title}}" href="#" style="text-decoration: none;">
									<img width="34" alt="{{internship.company}}" src="
									{% if internship.logo %}
										{{internship.logo.url}}
									{% else %}
										{% static 'assets/img/internship.jpg' %}
									{% endif %}
									">
								</a>
								{{internship.company}}
							</td>
							<td>{{internship.job}}</td>
							<td>{{internship.province.name}}</td>
							<td>{{internship.start_date|date:"d-m-Y"}}</td>
							<td>{{internship.end_date|date:"d-m-Y"}}</td>
							<td style ="text-align: center;">
								<a href="{{internship.url}}" target="_blank" class="btn btn-outline-primary" style="text-decoration: none;">
									<span style="font-weight: bold; font-family: Arial, Helvetica, sans-serif;">Apply</span>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			{% else %}
				<tr>
					<td style="text-align:center; font-weight:bold;">There is no internship opportunity.</td>
				</tr>
			{% endif %}
			
          </table>

		  <!-- Modal -->
		  <div class="modal fade" id="internshipModal" aria-hidden="true" aria-labelledby="answerModal" tabindex="-1">
			<div class="modal-dialog modal-xl modal-dialog-centered">
				 <div class="modal-content">
					<form action="{% url 'internshipopp' %}" enctype="multipart/form-data" method="POST" class="application-status">
						<div class="modal-header">
							  <h5 class="modal-title" id="pdfModalLabel">Add Internship</h5>
							  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
	
						<div class="modal-body">
							<div class="panel panel-default col-md-12">
								<div class="panel-body">
									{% csrf_token %}
									<div class="card p-4">
										<div class="mb-3">
											<label for="exampleFormControlInput1" class="form-label" style="font-weight: 500;">Company</label>
											<input class="form-control" type="text" name="company" value="" required>
										</div>
										
										<div class="mb-3">
											<label for="exampleFormControlInput1" class="form-label" style="font-weight: 500;">Job</label>
											<input class="form-control" type="text" name="job" value="" required>
										</div>
										
										<div class="mb-3">
											<label for="exampleFormControlInput1" class="form-label" style="font-weight: 500;">Province</label>
											<select class="form-select form-select-md mb-3" name="province" aria-label=".form-select-md example" required>
												<option disabled selected>Select province</option>
												{% for province in provinces %}
													<option value="{{province.name}}">{{province.name}}</option>
												{% endfor %}
											</select>
										</div>

										<div class="mb-3">
											<label for="exampleFormControlInput1" class="form-label" style="font-weight: 500;">Logo</label>
											<input class="form-control" type="file" name="logo">
										</div>

										<div class="mb-3">
											<label for="exampleFormControlInput1" class="form-label" style="font-weight: 500;">Start Date</label>
											<input class="form-control" type="date" name="startdate" required>
										</div>

										<div class="mb-3">
											<label for="exampleFormControlInput1" class="form-label" style="font-weight: 500;">End Date</label>
											<input class="form-control" type="date"name="enddate" required>
										</div>

										<div class="mb-3">
											<label for="exampleFormControlInput1" class="form-label" style="font-weight: 500;">URL for application</label>
											<input class="form-control" type="text" name="url" required>
										</div>

										<div class="mb-3">
											<label for="exampleFormControlInput1" class="form-label" style="font-weight: 500;">Faculty</label>
											<select class="form-select form-select-md mb-3" name="faculty" aria-label=".form-select-md example">
												<option disabled selected>Select faculty</option>
												{% for faculty in faculties %}
													<option value="{{faculty.name}}">{{faculty.name}}</option>
												{% endfor %}
											</select>
										</div>

										<div class="mb-3">
											<label for="exampleFormControlInput1" class="form-label" style="font-weight: 500;">Department</label>
											<select class="form-select form-select-md mb-3" name="department" aria-label=".form-select-md example">
												<option disabled selected>Select department</option>
												{% for department in departments %}
													<option value="{{department.name}}">{{department.name}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
	
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary col-md-12">SUBMIT</a>
						</div>
					</form>
				</div>
			</div>
		</div>
          </div>
        </div>
      </div>
</div>
</body>

{% endblock content %}