{% extends "layout.html" %}
{% load l10n %}
{% load static %}

{% block page_title %}
Official Letter
{% endblock page_title %}

{% block content %}
<style>
    body {
      overflow:hidden;
    }
    .float-child-left {
      width: 59%;
      float: left;
      padding: 20px;
    }
      
    .float-child-right {
      margin-left:1%;
      float: right;
      width: 40%;
    }
  </style>
  <!-- Page Content -->
  <div class="home" style="margin-left:11%; margin-top:5%;">
    <div class="float-container">
      <div class="float-child-left">
        <div class="col-lg-12">
          <div class="card p-4">
            <header class = "mb-4" style="text-align: start;">
              <form enctype="multipart/form-data" action="{% url 'officialletter' %}" method="POST">
              {% csrf_token %}
              <a>
                <h3 class="fw-bolder mb-1 text">Official Letter Application</h3>
              </a>
              <p class="text lead">Upload your transcript to the system and click "Apply" button. If the information is missing, your document will not be approved.</p>
              <button type="submit" class="btn btn-danger" style="border: 2px solid var(--purple-text-color); background-color: var(--primary-color-light); font-size: 20px; float:right;">
                <span style="color:var(--purple-text-color)"> Apply</span>
              </button>
              
                <label for="upload" class="btn btn-outline-primary me-2" tabindex="0" style="border: 2px solid var(--purple-text-color); background-color: var(--primary-color-light); font-size: 20px; float:right; color: var(--purple-text-color);">
                  <span class="d-none d-sm-block">Upload Documentation</span>
                  <i class="bx bx-upload d-block d-sm-none"></i>
                  <input type="file" id="upload" class="account-file-input" required hidden name='transcript' style="border: 2px solid var(--purple-text-color); background-color: var(--primary-color-light); font-size: 20px; float:right;" />
                </label>
              </form>
             </header>
          </div>
          <div class="col-lg-12">
            <div class="card p-4" style="margin-top:40px;">
              <header class = "mb-2" style="text-align: start;">
                <table id="example" class="table table-striped" style="width:100%; margin-bottom: auto;">
                  {% if applications.count > 0 %}
                  <thead>
                    <tr>
                      <th class="text" style="font-weight: bold;">ID</th>
                      <th class="text" style="font-weight: bold;">Date</th>
                      <th class="text" style="font-weight: bold;">Time Created</th>
                      <th class="text" style="font-weight: bold;">Internship Coordinator</th>
                      <th class="text" style="font-weight: bold;">Order Status</th>
                    </tr>
                  </thead>
                  <tbody> 
                      {% for application in applications %}
                        <tr>
                          <td class="text" style="font-weight: bold; font-family:Arial, Helvetica, sans-serif;">{{application.id}}</td>
                          <td class="text" style="font-weight: bold; font-family:Arial, Helvetica, sans-serif;">{{application.date_created|date:"d-m-Y" }}</td>
                          <td class="text" style="font-weight: bold; font-family:Arial, Helvetica, sans-serif;">{{application.date_created|date:"h:i A"}}</td>
                          <td class="text" style="font-weight: bold; font-family:Arial, Helvetica, sans-serif;">{{application.coordinator.user.first_name}} {{application.coordinator.user.last_name}}</td>
                          {% if application.status == 'W' %}
                            <td>
                              <span style="color: lightskyblue; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
                                WAITING
                              </span>
                            </td>
                          {% elif application.status == 'A' %}
                            <td>
                              <span style="color: lightgreen; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
                                ACCEPTED
                              </span>
                            </td>
                          {% else %}
                            <td>
                              <span style="color: lightcoral; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
                                REJECTED
                              </span>
                            </td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    {% else %}
                      <p class='text-center text-white'>No records!</p>
                    </tbody>
                    {% endif %}
                </table>
              </header>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}