{% load static %}

<div class="sidebar open">
	<div class="logo-details">
		<i class='bx bx-menu'></i>
        
		<a href="{% url 'index' %}" class="text-decoration-none">
            <span class="logo_name">internify</span>
        </a>
	</div>
    
	<hr class='position-relative border border-0 bg-light' style="height: 1px;">
	
    <ul class="nav-links">
		{% for group in request.user.groups.all %}
            {% if group.name == 'Student' or group.name == 'Coordinator' %}
                <li>
                    <a href="
                            {% if group.name == 'Student'%}
                                {% url 'internshipform' %}
                            {% else %}
                                {% url 'applicationform' %}
                            {% endif %}
                        ">
                        <i class='bx bx-book-open'></i>
                        <span class="link_name">Internship Form</span>
                    </a>
                </li>
                <li>
                    <a href="
                            {% if group.name == 'Student'%}
                                {% url 'officialletter' %}
                            {% else %}
                                {% url 'offletters' %}
                            {% endif %}
                            ">
                        <i class='bx bx-book-content'></i>
                        <span class="link_name">Official Letter</span>
                    </a>
                </li>
            
            {% elif group.name == 'Staff' %}
                <li>
                    <a href="{% url 'sgkef' %}">
                        <i class='bx bx-printer'></i>
                        <span class="link_name">SGK E.F</span>
                    </a>
                </li>
            {% endif %}
            
            {% if group.name != 'Coordinator' %}
                <li>
                    <a href="{% url 'internshipopp' %}">
                        <i class='bx bx-news'></i>
                        <span class="link_name">Opportunities</span>
                    </a>
                </li>
            {% endif %}
            
            <li>
                <div class="iocn-link">
                    <a href="{% url 'inbox' %}">
                        <i class='bx bx-chat'></i>
                        <span class="link_name">Inbox</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                
                <ul class="sub-menu">
                    <li><a href="{% url 'inbox' %}">Incoming Message</a></li>
                    <li><a href="{% url 'sendmessage' %}">Send Message</a></li>
                </ul>
            </li>
            
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <a href="{% url 'profile' %}">
                            <img src="
                                {% if request.user.photo%}
                                    {{ request.user.photo.url }}
                                {% elif request.user.gender == 'M' %}
                                    {% static 'assets/img/avatars/male_avatar.png' %}
                                {% else %}
                                    {% static 'assets/img/avatars/female_avatar.png' %}
                                {% endif %}
                                "
                                alt="user-avatar"
                            class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                        </a>
                    </div>
                    <div class="name-job">
                        <div class="profile_name">
                            <a href="{%url 'profile' %}">{{request.user.first_name}}</a>
                        </div>
                        <div class="job">{{group.name}}</div>
                    </div>
                    <a href="{% url 'logout' %}"><i class='bx bx-log-out'></i></a>
                </div>
            </li>
		{% endfor %}
	</ul>
</div>