{% extends "layout.html" %}
{% load static %}

{% block content %}
      <section class = "home-section">
        <div class="home-content offset-md-1" style="position: relative; top:5%;">
          
          <div class="wraper bootstrap snippets bootdeys bootdey">
          <div class="row">
            <div class="col-md-3">
              <a href="{% url 'sendmessage' %}" class="btn btn-success btn-block"><i class="fa fa-pencil-square-o"></i> New Message</a>
              <div class="panel panel-default p-0 mt-4">
                <div class="panel-body p-0">
                  <div class="list-group no-border mail-list">
                    <a href="{% url 'inbox' %}" class="list-group-item active"><i class="fa fa-inbox"></i> Incoming Messages <b>(8)</b></a>
                    <a href="#" class="list-group-item"><i class="fa fa-envelope"></i> Unread <b>(2)</b></a>
                    <a href="#" class="list-group-item"><i class="fa fa-paper-plane-o"></i> Outgoing Messages <b>(20)</b></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-9">
              <div class="row">
                <div class="col-lg-12">
                  <div class="btn-toolbar" role="toolbar">
                    <div div class="btn-group" >
                      <h3 class="title"><i class="fa fa-envelope-o"></i> Incoming Messages</h3>
                    </div>
                    <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="panel panel-default m-t-20">
              <div class="panel-body">
                <table class="table table-hover mails" style="background-color: white;">
                  <thead>
                    <th></th>
                    <th>NAME</th>
                    <th>SUBJECT</th>
                    <th>DATE</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="mail-select">
                        <label class="cr-styled">
                        <input type="checkbox"><i class="fa"></i>
                        </label>
                      </td>
                      <td><a href="{% url 'message' %}">Kristin Surhupi Benli</a></td>
                      <td>Job Opportunuties</td>
                      <td class="text-right">07:23 AM</td>
                    </tr>
                    <tr>
                      <td class="mail-select">
                        <label class="cr-styled">
                        <input type="checkbox"><i class="fa"></i>
                        </label>
                      </td>
                      <td><a href="{% url 'message' %}">Kristin Surhupi Benli</a></td>
                      <td>Internship Application Form</td>
                      <td class="text-right">08:37 PM</td>
                    </tr>
                    <tr>
                      <td class="mail-select">
                        <label class="cr-styled">
                        <input type="checkbox"><i class="fa"></i>
                        </label>
                      </td>
                      <td><a href="{% url 'message' %}">Kristin Surhupi Benli</a></td>
                      <td>SGK E.F</td>
                      <td class="text-right">12:33 PM</td>
                    </tr>
                    <tr>
                      <td class="mail-select">
                        <label class="cr-styled">
                        <input type="checkbox"><i class="fa"></i>
                        </label>
                      </td>
                      <td><a href="{% url 'message' %}">Kristin Surhupi Benli</a></td>
                      <td>Official Letter</td>
                      <td class="text-right">09:34 AM</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock content %}