{% extends "layout.html" %}
{% load static %}

{% block page_title %}Dashboard{% endblock page_title %}

{% block content %}
      <section class="home-section">
        <div class="home-content offset-md-1 mt-lg-5">
          {% if messages %}
            {% for message in messages %}
                {% if message.tags == "info" %}
                <div class="alert alert-danger" style="position: relative; bottom:10%;">{{ message }}</div>
                {% else %}
                <div class="alert alert-{{ message.tags }}" style="position: relative; bottom:10%;">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
          <i class='bx bx-home' style="font-size: 2em" ></i>
          <span class="text">Homepage</span>
        </div>
      </section>
{% endblock content %}
