{% extends "layout.html" %}
{% load static %}

{% block page_title %}Dashboard{% endblock page_title %}

{% block css_files %}
<style>
    body {
      overflow:hidden;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    .box {
      flex: 1 0 20%;
      height: 250px;
      margin-top: 10px;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 10px;
      overflow: hidden;
      word-wrap: break-word;
      text-align: center;
      max-width: 100%;
        }

    .float-child-left {
        width: 70%;
        float: left;
        padding: 00px;
    }
    
    .float-child-right {
      margin-left:3%;
      float: right;
      width: 27%;
    }

  </style>
{% endblock css_files %}



{% block content %}

  <!-- box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; -->
  <body>
	{% include 'includes/sidebar.html' with unread_messages=unread_messages %}
      <div class="home" style="margin-top:2%;">
        <div class="col-lg-10">
          {% if messages %}
            {% for message in messages %}
                {% if message.tags == "info" %}
                <div class="alert alert-danger" style="margin-left:11%; margin-top:20px; width: 100%;">{{ message }}</div>
                {% else %}
                <div class="alert alert-{{ message.tags }}" style="margin-left:11%; margin-top:20px; width: 100%;">{{ message }}</div>
                {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        <div class="float-container" style="margin-left:10%; margin-top:4%;">
          <div class="float-child-left">
            <div class="col-lg-12">
              <div class="card p-4">
                <header class = "text mb-3" style="text-align: start;">
                  <h2 class="fw-bold" style="text-align: center;">Welcome to <p style="color:var(--purple-text-color);">Internify!</p></h2>
                  <h5>Internify is an all-in-one platform for managing your university internships! Our user-friendly platform allows you to track your progress, receive feedback, and communicate with your supervisors directly through the platform.</h5>
                  <h5>With Internify, you can easily connect with your internship supervisors and complete all your internship tasks in one place. Our user-friendly platform allows you to track your progress, receive feedback, and communicate with your supervisors directly through the platform.</h5>
                  <h5>No more scrambling to find important documents or strugglingto contact your supervisors – Internify streamlines the entire internship proces whether you’re a student looking for an internship, or a supervisor managing multiple interns, Internfy has everything you need to make the most of your internship experience.</h5>
                </header>
              </div>
              <div class="container">

                <div class="box">
                  <div class="card p-4" style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;"> 
                    <a data-bs-toggle="modal" data-bs-target="#pdfModal" style="text-decoration: none;"><h3 class="fw-bolder mb-1 text">Application Form</h3></a>
                    <p class="text" style="font-size:20px;">click here to view the document</p>
                  </div>
                </div>
                <div class="box">
                  <div class="card p-4" style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;">
                    <header class = "mb-0" style="text-align: center;">
                      <a data-bs-toggle="modal" data-bs-target="#bookModal" style="text-decoration: none;"><h3 class="fw-bolder mb-1 text">Internship Book</h3></a>
                      <p class="text" style="font-size:20px;">click here to view the document</p>
                    </header>
                  </div>
                </div>
		<div class="box">
                  <div class="card p-4" style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;">
                    <header class = "mb-0" style="text-align: center;">
                      <a data-bs-toggle="modal" data-bs-target="#OLModal" style="text-decoration: none;"><h3 class="fw-bolder mb-1 text">Official Letter</h3></a>
                      <p class="text" style="font-size:20px;">click here to view the document</p>
                    </header>
                  </div>
                </div>      
              </div>
            </div>
          </div>
          <div class="float-child-right">
            <div class="col-lg-8">
              <div class="card p-4">
                <h4 class="fw-bold" style="color:var(--purple-text-color); text-align: center; ">Announcements</h4>
                <hr style="border:1px solid var(--text-color); box-shadow: 0px 5px var(--text-color);">
				{% if announcements.count > 0 %}
					{% for announcement in announcements %}
						<div class="card p-4 text" style="margin-top:10px; border: 1px solid var(--text-color); box-shadow: 5px 5px var(--text-color);">
							<h4 class="text">{{announcement.title}}</h4>
							<p class="text">
								{{announcement.content|linebreaks}}
							</p>
							<p class="text fst-italic mb-2" style="text-align: end;">{{announcement.date_created|date:"d-m-Y"}}</p>
						</div>
					{% endfor %}
				{% else %}
					<p class="text">No announcement records!</p>
				{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="pdfModal" aria-hidden="true" aria-labelledby="pdfModalLabel" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel">Internship Application Form</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe src="{% static 'assets/internship-form.pdf' %}" width="100%" height="600"></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

	  <div class="modal fade" id="bookModal" aria-hidden="true" aria-labelledby="pdfModalLabel" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel">Internship Application Form</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe src="https://kariyer.uskudar.edu.tr/uploads/site/2/content/files/uufr0253-muhendislik-ve-doga-bilimleri-fakultesi-staj-defteri.pdf" width="100%" height="600"></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
	  <div class="modal fade" id="OLModal" aria-hidden="true" aria-labelledby="OLModalLabel" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel">Official Letter</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe src="{% static 'assets/official_letter.pdf' %}" width="100%" height="600"></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  </body>

{% endblock content %}
