{% extends "layout.html" %}
{% load static %}

{% block page_title %}
{{email.title}}
{% endblock page_title %}

{% block content %}
<body>
    <div class="home offset-md-1" style="margin-top:4%;">
        <div class="row">
          <div class="col-md-5">
            <h1 class="title text"><i class="fa fa-envelope-o"></i> Message</h1>
          </div>
          <div class="col-md-5">
            <a href="{% url 'sendmessage' %}" class="btn btn-success btn-block" style="font-size: 20px; width:40%; float:right;"><i class='fa fa-pencil-square-o'></i> New Message</a>
          </div>
        </div>
        <div class="col-lg-10" style="margin-top:2%;">
            <div class="card p-4" style="box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;">
                <header class = "text mb-3" style="text-align: start;">
                    <a><h2 class="fw-bolder mb-1">{{email.title}}</h2></a>
                    <p class ="lead">by {{email.sender.get_full_name}}</p>
                    <hr>
                    <p class="lead">
                        {{email.content|linebreaks}}
                    </p>
                </header>
            </div>
            
            <h3 class="mt-4 title text">Replies</h3>
            
            {% if children.count > 0 %}
                {% for child in children %}
                    <div class="card p-4 mt-4" style="box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;">
                        <header class = "text mb-3" style="text-align: start;">
                            <a><h2 class="fw-bolder mb-1">{{child.title}}</h2></a>
                            <p class ="lead">by {{child.sender.get_full_name}}</p>
                            <hr>
                            <p class="lead">
                                {{child.content|linebreaks}}
                            </p>
                        </header>
                    </div>
                {% endfor %}
            {% endif %}
            
            <div class="panel-body" style="margin-top:2%;">
                <form action="{{email.get_absolute_url}}" method="POST">
                    {% csrf_token %}
                    <div class="card p-4" style="box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;">
                        <div class="text mb-3">
                            <label for="exampleFormControlInput1" class="form-label" style="font-weight: 500;">Sender</label>
                            <input class="form-control text" type="email" value="{{email.receiver.email}}" style="background-color: var(--primary-color-light);" name="email" readonly>
                        </div>
                        <div class="text mb-3">
                            <label for="exampleFormControlInput1" class="form-label" style="font-weight: 500;">Subject</label>
                            <input class="form-control text" type="text" value="r/ {{email.title}}" style="background-color: var(--primary-color-light);" name="title" readonly>
                        </div>
                        <div class="text mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label" style="font-weight: 500;">Message</label>
                            <textarea class="form-control text" id="exampleFormControlTextarea1" style="background-color: var(--primary-color-light);" name="content" rows="10"></textarea>
                        </div>
                        <button class="btn btn-success btn-block" style="font-size: 20px; width: 100%;"><i class='fa fa-pencil-square-o'></i> Send Message</button>
                    </div>
                </form>
            </div>
            <br>
        </div>
    </div>
</body>
{% endblock content %}